/* .login-form {
    padding:0px 60px;
    max-width: 100%;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}.ant-form-explain{
    color: red !important;
    font-size:12px !important;
} */